<div class="tile">
  <a class="tile__link" href="https://github.com/KrzysztofProgramming/keycloak-integration" target="blank">
    <div class="tile__title">
      Keycloak Integration
    </div>
    <div class="tile__description">
      Microservices project with custom Keycloak provider that allows to add external user storage to Keycloak.
      Supports composite roles and creating/updating users with HTTP. Contains extra microservices like API gateway,
      resources server.  
    </div>
  </a>
</div>

<div class="tile">
  <a class="tile__link tile__link--yt" href="https://github.com/KrzysztofProgramming/ShopProjectAngular" target="blank">
    <div class="tile__title">
      Shop Website Frontend
    </div>
    <div class="tile__description tile__description--yt">
        Full shop website with accounts, products, orders maker, admin tools and more! Made with Angular and PrimeNG.
    </div>
  </a>
  <a href="https://youtu.be/Z7p6BJtAbe4" target="blank" class="tile__yt-link">
    <i class="pi pi-youtube"></i> Youtube Video
  </a>
</div>

<div class="tile">
  <a class="tile__link" href="https://github.com/KrzysztofProgramming/ShopProjectSpring" target="blank">
    <div class="tile__title">
      Shop Website Backend
    </div>
    <div class="tile__description">
      Shop's backed that handles requests from clients, save data in PostreSQL database and send confimartions to the given emails.
      Built with Spring and Hibernate.
    </div>
  </a>
</div>

<div class="tile">
  <a class="tile__link tile__link--yt" href="https://github.com/KrzysztofProgramming/ShopProjectAngular" target="blank">
    <div class="tile__title">
      SkyManager
    </div>
    <div class="tile__description tile__description--yt">
      Made as a recruitment project, server app that stores planes flights datas in the PostgreSQL server and generate statistics.
      New data can be uploaded in JSON format.
    </div>
  </a>
  <a href="https://youtu.be/X8-btq3Z6gY" target="blank" class="tile__yt-link">
    <i class="pi pi-youtube"></i> Youtube Video
  </a>
</div>

<div class="tile">
  <a class="tile__link" href="https://github.com/KrzysztofProgramming/KrzysztofProgramming.github.io" target="blank">
    <div class="tile__title">
      Portfolio Website
    </div>
    <div class="tile__description">
      This website, made with Angular.
    </div>
  </a>
</div>


<h2 class="header">
  Contributions:
</h2>

<div class="tile">
  <a class="tile__link tile__link--yt" href="https://github.com/ZMizgalski/Coding_da_Vinci_FrontEnd" target="blank">
    <div class="tile__title">
      Coding da Vinci Project Frontend
    </div>
    <div class="tile__description tile__description--yt">
      Web app made for Coding da Vinci Hackhathon with Angular. 
      It blends images together to create a new one on the server side
      using Opencv and Pytorch style transfer.
    </div>
  </a>
  <a href="https://youtu.be/TElqo7OIwqQ"  target="blank" class="tile__yt-link">
    <i class="pi pi-youtube"></i> Youtube Video
  </a>
</div>

<div class="tile">
  <a class="tile__link" href="https://github.com/SoftDevPL/WatchTowerGui" target="blank">
    <div class="tile__title">
      WatchTowerGui
    </div>
    <div class="tile__description">
      Spigot plugin with admin tools.
    </div>
  </a>
</div>

<div class="tile">
  <a class="tile__link" href="https://github.com/KrzysztofProgramming/OmnipotentialChests" target="blank">
    <div class="tile__title">
      Omnipotential Chests
    </div>
    <div class="tile__description">
      Spigot plugin with random reward chests.
    </div>
  </a>
</div>



