<a class="tile" href="https://github.com/KrzysztofProgramming/ShopProjectAngular" target="blank">
  <div class="tile__title">
    Shop Website Frontend
  </div>
  <div class="tile__description">
      Full shop website with accounts, products, orders maker, admin tools and more! Build with Angular and Primeng.
  </div>
</a>

<a class="tile" href="https://github.com/KrzysztofProgramming/ShopProjectSpring" target="blank">
  <div class="tile__title">
    Shop Website Backend
  </div>
  <div class="tile__description">
    Shop's backed that handles requests from clients, save data in MongoDB cloud and send confimartions to given emails.
  </div>
</a>

<a class="tile" href="https://github.com/KrzysztofProgramming/KrzysztofProgramming.github.io" target="blank">
  <div class="tile__title">
    Potrfolio Website
  </div>
  <div class="tile__description">
    This website, made with Angular.
  </div>
</a>

<h2 class="header">
  Contributions:
</h2>

<a class="tile" href="https://github.com/SoftDevPL/WatchTowerGui" target="blank">
  <div class="tile__title">
    WatchTowerGui
  </div>
  <div class="tile__description">
    Minecraft Spigot plugin with admin tools.
  </div>
</a>

<a class="tile" href="https://github.com/KrzysztofProgramming/OmnipotentialChests" target="blank">
  <div class="tile__title">
    Omnipotential Chests
  </div>
  <div class="tile__description">
    Minecraft Spigot plugin with random reward chests.
  </div>
</a>