<div class="sidebar" *ngIf="this.visibility" @slideEntry>
  <div class="top-bar">
    <i class="pi pi-times" (click)="this.hideSidebar()"></i>
  </div>
  <div class="content">
    <div class="content__item" *ngFor="let item of this.navItems" (click) = "this.navigateToLink(item.routerLink)">
      <p>{{item.name}}</p>
    </div>
  </div>
  <div class="bottom-bar">
    <a class="bottom-bar__icon" *ngFor="let icon of this.navIcons" [href]="icon.link" [title]="icon.title" target="_blank">
      <i [class]="'pi ' + icon.name"></i>
    </a>
  </div>
</div>