@import "../../colors.scss";

:host{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(black, 0.1);
}

.content{
  // margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: min(60px, 11vw);
  padding: 15px;
  text-align: center;

  &__hi{
    font-size: min(70px, 12vw);
  }

  &__header{
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px;
  }


  &__button{
    padding: 10px 15px 10px 15px;
    font-size: min(30px, 10vw);
    margin-top: 30px;

    @include button-effect()
  }
}

