$box-shadow-1: #a8ebff;
$box-shadow-2: #bfeeff;

@mixin nav-hover-effect() {

  cursor: pointer;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    width: 60%;
    top: 50%;
    left: 20%;
    transition-duration: 200ms;
    // transform: scale(0.5);
  }

  &:hover::after{
    box-shadow: 0 0 1em 0.4em $box-shadow-2;
    // transform: scale(1.1);
  }
}

@mixin nav-icon-effect($font-size: 30px) {
      cursor: pointer;

    &:hover .pi{
      box-shadow: 0 0 0.4em 0.15em $box-shadow-1, 0 0 0.1em 0.05em $box-shadow-1 inset;
    }

    & .pi{
      font-size: $font-size;
      transition-duration: 200ms;
      border-radius: 10px;
    }
}
