<div class="container">
  <!-- <h2 class="header">Programming is my passion</h2> -->
  <div class="contact">
    <div class="contact__email">Contact: 
       <a class="contact__email-value" href="mailto:kkonieczny.programming@gmail.com">kkonieczny.programming@gmail.com</a>
      </div>
  </div>
  <p class="about-me">
    In April 2022 I finished <a href="https://tl.krakow.pl/">Technicial School of Communication in Cracow</a>.
    I plan to start studying on AGH university in October on IT related Subject. During Technicial School I earned third-degree
    laureate title in Physics in competition <a href="http://www.diament.agh.edu.pl/">"O Diamentowy Indeks AGH"</a> two times so it's obvious
    I'll pass the recrutation. As a programmer I was creating projects alone or in two-person team. My job is always done precisly and correctly.
    I am eager to learn and continue my programming journey.
  </p>
  <p class="skills-header">My skills:</p>
  <ul class="list">
    <li class="list__skill">HTML, CSS, SCSS, Typescript</li>
    <li class="list__skill">Angular</li>
    <li class="list__skill">Java</li>
    <li class="list__skill">Spring boot</li>
    <li class="list__skill">SQL (PostgreSQL)</li>
    <li class="list__skill">C++</li>
    <li class="list__skill">Git</li>
  </ul>
  <div class="links">
    <a class="links__link" target="blank" href="https://github.com/KrzysztofProgramming?tab=repositories">
    Check out my Github <i class="pi pi-github"></i></a>
    <a class="links__link" target="blank" href="https://www.linkedin.com/in/krzysztof-konieczny-865589237/">
    Find me on LinkedIn <i class="pi pi-linkedin"></i></a>
  </div>
</div>
