<div class="container">
  <!-- <h2 class="header">Programming is my passion</h2> -->
  <div class="contact">
    <div class="contact__email">Contact: 
       <a class="contact__email-value" href="mailto:kkonieczny.programming@gmail.com">kkonieczny.programming@gmail.com</a>
      </div>
  </div>
  <p class="about-me">
    I am 1st year student of Applied Computer Science at <a href="https://www.agh.edu.pl/en/"> AGH University of Science and Technology </a> in Cracow and already have 3 months of experience
    with Java and Spring Boot. I would like to polish my programming skills during this holidays and find a half-time job for my next years of studuying.
    I'm looking for an internship for this summer to achieve this goal.  
  </p>
  <p class="skills-header">Technologies and tools:</p>
  <ul class="list">
    <li class="list__skill">Java</li>
    <li class="list__skill">Spring boot</li>
    <li class="list__skill">SQL (PostgreSQL)</li>
    <li class="list__skill">Git</li>
    <li class="list__skill">Docker</li>
    <li class="list__skill">Typescript</li>
    <li class="list__skill">Angular, Html, Css</li>
  </ul>
  <div class="links">
    <a class="links__link" target="blank" href="https://github.com/KrzysztofProgramming?tab=repositories">
    Check out my Github <i class="pi pi-github"></i></a>
    <a class="links__link" target="blank" href="https://www.linkedin.com/in/krzysztof-konieczny-865589237/">
    Find me on LinkedIn <i class="pi pi-linkedin"></i></a>
  </div>
</div>
