@import "../../colors.scss";

:host{
  display: flex;
  flex-direction: column;
  // align-items: center;
  flex: 1;
}

.container{
  margin-top: min(5vw, 30px);
  margin-bottom: min(5vw, 30px);
  width: clamp(75%, 400px, 100%);

  margin-left: 10%;
  display: flex;
  flex-direction: column;
  padding: 20px min(30px, 10%) 20px min(30px, 10%);
  border-radius: 5px;
  background-color: rgba(black, 0.6);
  box-shadow: 0 0 3px 1px white;
  font-size: 20px;
}

.links{
  margin-top: 20px;
  border-top: 1.5px solid white;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  &__link{
    padding: 7px 15px 7px 15px;
    font-size: 20px;
    box-shadow: 0 0 5px 0 white;
    border-radius: 50px;

    @include button-effect;
  }
}

.header{
  font-size: 40px;
  font-family: 'cursive';
  letter-spacing: 1px;
}

.contact{
  font-size: 22px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1.5px solid white;
  line-height: 1.5em;

  &__email-value{
    word-wrap: break-word;
    font-style: italic;
    position: relative;
    text-decoration: underline;
  }

}

.skills-header{
  font-size: 22px;
}

.list{
  margin: 0;
  margin-top: 12px;
  padding-left: 25px;

  &__skill{
    padding-left: 0;
    margin-top: 15px;
    
    &:first-child{
      margin-top: 0;
    }
  }
}
@media only screen and(max-width: 900px){
  .container{
    width: 95%;
    align-self: center;
    margin-left: 0;
  }
}

@media only screen and(max-width: 800px){
  .links{
    flex-direction: column;
    
    &__link{
      margin-top: 20px;

      &:first-child{
        margin-top: 0;
      }
    }
  }
}