@import "../../colors.scss";

:host{
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  flex: 1;
}

.container{
  flex: 1;
  margin-top: min(5vw, 30px);
  margin-bottom: min(5vw, 30px);
  width: clamp(75%, 400px, 100%);

  margin-left: 10%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(black, 0.6);
  box-shadow: 0 0 3px 1px white;
  font-size: 24px;
}

.header{
  font-size: 40px;
  font-family: 'cursive';
  letter-spacing: 1px;
}

.contact{
  font-size: 27px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1.5px solid white;
  // border-radius: 2px;
  // box-shadow: 0px -6px 4px -5px white inset, 0 0 2px 1px white;

  &__email-value{
    // text-decoration: underline;
    word-wrap: break-word;
    font-style: italic;
    position: relative;


    @include nav-hover-effect(95%);

    // &::before{
    //   content: '';
    //   width: 1px;
    //   height: 1px;
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    // }

    // &:hover::before{
    //   animation-name: starAnimation;
    //   animation-duration: 500ms;
    //   animation-iteration-count: 1;
    // }
  }
}

.skills-header{
  font-size: 27px;
}

.list{
  margin: 0;
  margin-top: 20px;
  padding-left: 30px;

  &__skill{
    padding-left: 0;
    margin-top: 20px;
    
    &:first-child{
      margin-top: 0;
    }
  }
}

@keyframes starAnimation{
  0%   {box-shadow: 0 0 2px 2px white;}
  50%  {box-shadow: 0 0 7px 5px white; left: 100%}
  80% {box-shadow: 0 0 10px 8px white; left: 100%}
  100% {box-shadow: 0 0 2px 2px white; left: 100%}
}

@media only screen and(max-width: 750px){
  .container{
    width: 95%;
    align-self: center;
    margin-left: 0;
  }
}