<div class="container">
  <!-- <h2 class="header">Programming is my passion</h2> -->
  <div class="contact">
    <div class="contact__email">Contact: 
       <a class="contact__email-value" href="mailto:kkonieczny.programming@gmail.com">kkonieczny.programming@gmail.com</a></div>
  </div>
  <p class="skills-header">My skills:</p>
  <ul class="list">
    <li class="list__skill">HTML, CSS, Typescript</li>
    <li class="list__skill">Angular</li>
    <li class="list__skill">Java</li>
    <li class="list__skill">Spring boot</li>
    <li class="list__skill">SQL (PostgreSQL)</li>
    <li class="list__skill">MongoDB</li>
  </ul>
</div>
